$orange: #fb9701;
$red: #e53737;
$blue: #1f2391;
$purple: #883dcf;
$gray: #666666a2;
$white: #ffff;
$background: #eeeeee;
$yellow: #f5ec0c;
$textbanner: #192a56;
$green: #3f940e;
$blue-glossy: #1f23917e;
$blue-light: #eaf6fe;
$beige-light: #fff3eb;
$green-light: #eaf7e9;
$deepskyblue: #2da5f3;
$orange: #fa8232;
$green: #2db224;
$red-light: #d88989c4;
$blue-glossy: #1f23917e;
$blue-light: #eaf6fe;
$beige-light: #fff3eb;
$green-light: #eaf7e9;
$deepskyblue: #2da5f3;
$deepskyblues: #2da5f3;
$orange: #fa8232;
$green: #2db224;
$purple_hover: #f4ecfb;
