@use "./../../utils/_color.scss";
.wrapper-header {
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 80px;
  background-color: color.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-web {
    color: color.$red;
    font-size: 2rem;
  }

  .title-web {
    font-size: 1.3rem;
    font-weight: 600;
    color: color.$blue;
  }
}
.menu-area {
  .main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1vw;
    font-size: 0.8rem;
    font-family: var(--font-main);
    .item {
      position: relative;
    }
    .item a {
      padding: 10px;
    }
    span {
      position: relative;
      top: 3px;
    }
    .item a:hover {
      cursor: pointer;
      border-radius: 5px;
      background-color: color.$orange;
      color: white;
      transition: 0.1s;
    }

    .sub-menu {
      visibility: hidden; /* hides sub-menu */
      position: absolute;
      top: 150%;
      left: 0;
      width: 150%;
      transform: translateY(-2em);
      z-index: -1;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0s,
        z-index 0s linear 0.01s;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .sub-menu a {
      color: color.$gray;
    }
    .sub-item a:hover {
      color: color.$blue;
      background-color: transparent;
    }
    .item:hover .sub-menu {
      visibility: visible;
      z-index: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s;
    }
    .sub-item {
      padding: 10px;
    }
  }
}
.button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 0.5vw;

  .button-search-product {
    position: relative;
    .search-result-area {
      background-color: white;
      border: 1px solid rgba(128, 128, 128, 0.287);
      border-radius: 10px;
      position: absolute;
      top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      .product-result-wrap {
        display: flex;
        flex-direction: column;
        width: 450px;
        max-height: 500px;
        overflow-y: scroll;
        .my-hr {
          background-color: rgba(108, 108, 108, 0.181);
          height: 2px;
        }
        .product-result-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 20px;
          transition: background-color 0.1s ease, transform 0.1s ease;
          .product-result-item-image {
            display: flex;
            img {
              width: 70px;
              height: 70px;
              border: 1px solid rgba(128, 128, 128, 0.284);
            }
          }
          .product-result-item-text {
            text-align: right;

            h5 {
              color: rgb(94, 92, 92);
              font-weight: 550;
              padding: 10px 0;
            }
            strong {
              font-size: 0.7rem;
            }
          }
        }
        :hover {
          animation: hoverAnimation 0.6s ease;
        }
      }
    }
  }
  .icon {
    padding: 10px;
    background-color: #eeeeee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .cart-status {
    position: absolute;
    top: -5px;
    right: -8px;
    padding: 3px;
    background: color.$orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart,
  .like:hover {
    cursor: pointer;
  }
}
.user-info-area {
  display: flex;
  justify-content: center;
  align-items: center;
  .user-avatar > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .user-name {
    padding: 5px;
    font-size: 0.7rem;
  }
}

.drawer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  line-height: 45px;
  color: color.$orange;
  .header-title-text {
    margin-right: 10px;
    color: color.$blue;
  }
}

.close-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  color: rgba(242, 56, 56, 0.865);
}
@keyframes hoverAnimation {
  0% {
    background-color: white; /* Màu nền ban đầu */
    transform: scale(1); /* Kích thước ban đầu */
  }
  100% {
    background-color: rgba(197, 237, 240, 0.34); /* Màu nền khi hover */
    transform: scale(1.01); /* Phóng to phần tử khi hover */
  }
}
